.modal {
    position: fixed;
    z-index: 1000; /* High enough to overlay other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
  }
  
  .modal-content {
    margin: 15% auto; /* Adjust as needed */
    padding: 20px;
    width: 80%; /* Adjust as needed */
    /* Add more styling as needed */
  }
  .fade-out-animation {
    animation: fadeOut 1s ease-in-out forwards;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
